%div.status_info
  %strong Accepted:
  Congratulations! Your application has been accepted for a trial period. You should receive a
  = link_to('private message', 'http://www.juggernautguild.com/index.php?app=members&module=messaging')
  shortly with more information.