- page_title 'New Application'
- breadcrumb link_to('Applications', root_path), 'New Application'
- semantic_form_for @applicant, :url => applications_path do |form|
  = render :partial => 'form', :object => form