@import constants.sass

// IPB Style overrides --------------------------------------------------------

ul#section_links
  li
    margin: 0 5px
  li.last
    border-right: 0
    margin: 0

form
  fieldset.inputs
    margin-bottom: 10px

// Override WoW class styling -------------------------------------------------

.Death_Knight, .Death, .Knight, .Deathknight, .Druid, .Hunter, .Mage, .Paladin, .Shaman, .Priest, .Rogue, .Warlock, .Warrior
  &, &:link, &:visited
    font-weight: normal
    background: none
    padding-left: 0
  #breadcrumb &
    font-weight: bold

#ipbwrapper .q1, #ipbwrapper .q1 a, .ac_results .q1, .ac_results .q1 a
  color: #000000 !important

span.larger
  font-size: 110%
span.smaller
  font-size: 85%

// Success/Failure flash notice divs ------------------------------------------

.positive
  color = !positive_color
.negative
  color = !negative_color

div.message.success
  cursor: pointer
  margin: 10px 0
div.message.error
  margin: 10px 0
  .errorExplanation
    ul
      list-style-type: disc
      li
        margin-left: 15px

noscript, #server_error
  .error
    margin: 100px auto
    padding: 75px 50px
    width: 50%
    -moz-border-radius: 25px
    -webkit-border-radius: 25px
    background-color: #FFFFFF
    border-color: #000000
    span
      font-size: 3em

// Custom Styles --------------------------------------------------------------

div.character_row
  border-width: 1px
  border-style: solid

  &.status_denied, &.status_pending
    background-color: #f3dddd
    border-color: #deb7b7
  &.status_accepted, &.status_guilded
    background-color: #f1f6ec
    border-color: #b0ce94
  &.status_waiting, &.status_posted
    background-color: #FFFCCC
    border-color = !notice_border_color

  padding: 10px
  margin: 5px 0
  min-height: 65px

  .character_image
    float: left
    margin-right: 10px

  .application_info
    margin-right: 45px
    h4
      font-size: 2.1em
      line-height: 0.8em
      padding: 0
      a
        text-decoration: none
    .status_info
      font-size: 1.1em
      margin-top: 10px
      margin-left: 5px
      line-height: 1.2em
      color: #333

  .application_status
    float: right

// Forms ----------------------------------------------------------------------

@import formtastic_base.sass
@import skintastic.sass
form
  +stack-form(nil)
  legend
    display: block
  fieldset.playtimes
    padding: 10px 0
    legend
      padding: 10px 0 0 0
      display: block
      span
        font-size: 13px
    p.inline-hints
      padding: 0 10px 10px 0
  div.playtimes
    clear: both
    line-height: 2.1em
    label
      display: none
    li
      font-size: 13px
      font-weight: bold
      margin: 0
      padding: 2px 7px
      clear: none
      float: left
      input
        font-weight: normal
  fieldset.submit
    padding: 15px 6px
    text-align: center
  input.update
    background: #e36d2c url(http://www.juggernautguild.com/public/style_images/splat/input_submit.png) repeat-x scroll 0 50%
    color: #fff
    border: 1px solid #b2531f
    font-weight: bold
    font-size: 0.85em
    text-decoration: none
    border-width: 1px
    border-style: solid
    padding: 3px 9px
    overflow: visible
    cursor: pointer
    -moz-border-radius: 2px
    -webkit-border-radius: 2px

    &:hover
      background: #e7834b url(http://www.juggernautguild.com/public/style_images/splat/input_submit.png) repeat-x scroll 0 50%
